<html lang="en">

<head>
    <title>The Daily Prophet</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">The Daily Prophet</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div data-id="{{article._id}}" class="card">
            <div class="card-header">
                <h3>
                    <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{article.link}}">{{article.title}}</a>
                </h3>
            </div>
            <div class="card-body">
                <p>{{article.summary}}</p>
            </div>
        </div>

        <div id="comments">
            {{#each article.notes}}
            <div class="card">
                <div class="card-body">
                    <p>{{this.body}}</p>
                    <button type="submit" data-id="{{this._id}}" class="btn btn-danger delete-note">Delete Note</button>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group">
                        <label for="body">Notes</label>
                        <textarea type="text" class="form-control body" id="body" rows="5" placeholder="Enter notes"></textarea>
                    </div>
                    <button type="submit" data-id="{{article._id}}" class="btn btn-success add-note">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>The Daily Prophet</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="/assets/javascript/saved.js"></script>
</body>

</html>